body{
  font-family: monospace;
  display: grid;
  place-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul{
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-rows: auto;
  width: 100%;
  place-items: center;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  gap: 10px;
}
div{
  width: 100%;
}
.countries{ 
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);

}
button{
  padding: 10px;
  margin: 20px;
}